.clickable {
   cursor: pointer;
}
.site-container {
   min-height: 100vh;
}
main {
   flex: 1;
}
.products {
   display: flex;
   flex-wrap: wrap;
}
.btn-primary {
   background-color: lightskyblue;
   border: 1px solid white;
}
.product {
   border: 1px #404040 solid;
   margin: 1rem;
   justify-content: center;
}
.rating {
   justify-content: center;
   align-items: center;
}
.product-info {
   padding: 1rem;
}
.product img {
   width: 100%;
   max-width: 400px;
}
.img-large {
   max-width: 100%;
}
.img-thumbnail {
   height: 80px;
}
.small-container {
   max-width: 600px;
}
.checkout-steps > div {
   border-bottom: 0.2 rem solid #a0a0a0;

   color: #a0a0a0;
}
.checkout-steps > div.active {
   border-bottom: 0.2 rem solid #f08000;

   color: #f08000;
}
/* sidebar */
.navbar-brand {
   font-weight: bold;
}
.side-navbar {
   width: 240px;
   height: 100%;
   position: absolute;
   left: -300px;
   background-color: lightskyblue;
   transition: 0.5s;
}
.site-container {
   transition: 0.4s;
}
.active-container {
   margin-left: 240px;
}
.active-nav {
   left: 0;
}
.main-nav {
   z-index: 999;
}
.navbar {
   background-color: lightskyblue;
}
.nav-link {
   color: white;
}
